.button1{
    text-decoration: none;
    background-color: red;
    color: black;
    padding: 15px 20px;
}
.button1:hover{
    background-color: green;
    color: white;
}
.button2{
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    border:green solid 1px ;
    border-radius: 50px;
}
.button2:hover{
    background-color: green;
    color: white;
}
.button3{
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    border-radius: 50px;
    border: green solid 1px;

}
.button3:hover{
    background-color: green;
    color: white;
}
.unorder{
    margin-top: 20px;
padding: 50px;
    background-color:#2795FF;
    width: 500px;
    height:200px;
}
li{
padding: 10px;
list-style-type: none;
width: 250px;
    background-color:#C9E4FF ;
    margin: 2px;
    color: blue;
}
li:hover{
    background-color: red;
    color: white;
    text-decoration: underline;

}
table,tr,th,td{
    border-bottom: 1px solid black;
    border-collapse: collapse;

}
tr:nth-child(even){
    background-color: yellow;
}
tr:hover{
    background-color: red;
    color: white;
    text-decoration: underline;

}
.dum{
    display: flex;

}
.dummy1{
    background-color:red;
 width: 10%;
    height: 100px;
    padding-top: 30px;

}
.dummy2{
    background-color:yellow;
    width: 10%;
    height: 100px;
    padding-top: 30px;

}
p{
    background-color:black;
    color: white;
    width: 320px;
    height: 30px;
    padding: 30px;  
    margin-top: -30px;
}
/* combinators */
    /* .dummy > p{
        color: red;
    } */

    .dumy1{
        background-color: red;
        width: 100px;
        height: 100px;
    }
    .dumy2{
        background-color: blue;
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        top: 40px;
        left: 40px;
        z-index: 2;
    }
    .dumy3{
        background-color: black;
        width: 100px;
        height: 100px;
        z-index: 5;
        position: relative;

    }
   
    .line::first-line{
color: red;

    }
    .letter::first-letter{
        color: green;
        }
        .letter::after{
            content: url(Images/camera.jfif);
        }
        .letter::before{
            content: "Welcome;";
        }
        ::selection{
            color: white;
background-color: green        
}
.flexbox{
    background-color: green;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    

}
h4{
    background-color: black;
    color: white;
    flex-basis: 20%;
    margin: 5px;
    flex-grow: 1;
    
}
.image p{
    background-color: white;
    color: black;
    width: 200px;
}
.image img{
    width: 200px;
    height: 200px;
    flex-basis: 20%;


}
.image{
    display: flex;
    flex-wrap: wrap;
}
.image div{
    flex-basis: 20%;
margin: 5px;   
flex-grow: 1;
}

.axis{
    background-color: aqua;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
align-items: center;
animation-name: axis;
animation-duration: 1s;
animation-iteration-count: infinite;


}
.axis1{
    background-color:black;
    width: 100px;
    height: 200px;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
}
.axis3{
background-color: #FEA600;
padding: 5px;
height: 5%;
width: 80%;
margin: 10px 5px;
border-radius: 50px;


}
.dropdown{
    position: relative;
    top: 50px;
    left: 300px;
}

.dropdownbtn{
    background-color:blue ;
    color: white;
    padding: 15px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
.drop-a{
    position: absolute;
    min-width: 165px;
    display: none;
    box-shadow: 5px 8px 15px rgb(36, 39, 41);
}
.drop-a a{
text-decoration: none;
font-size: 20px;
display: block;
color: black;
padding: 15px;

}
.drop-a a:hover{
    background-color:#161515;
    color: white;
}
.dropdown:hover .drop-a{
    display: block;
}
.dropdown:hover .dropdownbtn{
    background-color: #2795FF;
}

@keyframes axis{
    from{
        background-color:aqua ;
    }
    to{
        background-color: rgb(176, 127, 255);
    }
}
form{
    font-size: 20px;
    margin-top: 250px;
}
input[type=text],select{
    width: 100%;
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(68, 64, 64) ;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(68, 64, 64) ;

}
input[type=submit]{
    width: 10%;
    padding: 15px;
    margin: 15px;
    margin-left: 90%;
    background-color: green;
    color: white;
    border: none;
}
input[type=submit]:hover{
    background-color: rgb(49, 199, 49);
cursor: pointer;
}
